##Write a Python program to create a lambda function that adds 25 to a given number passed in as an argument.


sample input: 10

sample output: 35

In [4]:
x =lambda x:x+25 

print(x(10))

35

##Write a Python program to triple all numbers of a given list of integers. Use Python map.

sample list: [1, 2, 3, 4, 5, 6, 7]



Triple of list numbers:

[3, 6, 9, 12, 15, 18, 21]

In [6]:
x=[1,2,3,4,5,6,7]

y= list(map(lambda x:x*3, x))

print(y)

[3, 6, 9, 12, 15, 18, 21]

##Write a Python program to square the elements of a list using map() function.

Sample List: [4, 5, 2, 9]

Square the elements of the list:

[16, 25, 4, 81]

In [9]:
a=[4,5,2,9]

b= list(map(lambda a:a**2, a))

print(b)

[16, 25, 4, 81]